<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<nav class="navbar navbar-dark bg-transparent ">

    <a class=" navbar fixed-top navbar-brand bg-primary" href="#">
      <img src="https://cdn.pixabay.com/photo/2015/04/21/22/09/english-733876_960_720.png" width="50" height="50" class="d-inline-block align-top" alt="">
        Animais merecem um lar   
    </a>
  </nav>
<style> 
    .jumbotron.header{
        color: white;
        background-image:linear-gradient(rgb(19, 183, 224),rgb(30, 152, 252))
    }
    #menu{
      background-color: rgb(39, 19, 19);
    }
    #menu a :hover{
      background-color: rgb(193, 193, 209);
    }
</style>
<div class='jumbotron header text-center bg-danger text-center'>
    <h1> Adote Um amigo </h1>
    <a class=' text-right 'href="/logout" >Sair</a>

</div>
<div id='menu'>
  <ul class='nav'>
      <li class='nav-item'></li>
      <a class='nav-link 'href="/pet/list">Todos</a>
      <li class='nav-item'></li>
      <a class='nav-link 'href="/pet/user/">Meus</a>
      <li class='nav-item'></li>
      <a class='nav-link 'href="/pet/register/">Cadastrar</a>
  </ul>
</div>
