{% extends './model.html'%}
{% block style%}
<style>

 
        div.container {
            padding: 20px;
        }   

</style>


{% endblock %}
{% block title %} <title> Pets </title>{% endblock %}

{% block content%}
    <div class="container mb-4">
            <div class="row">
                {% for p in pet %}
                    <div class="col-sm-4">
                        <a href="../detail/{{p.id}}">
                            <div class="container"> 
                            <div class="card" style="width:100%"><span class="border border-primary"></span>

                                <img class="card-img-top" src="{{p.photo.url}}" alt="">
                                <div class="card-body text-center">
                                  <p class="card-text">{{p.user}}</p>
                                  <p class="card-text">{{p.description}}</p>
                                </div>
                              </div>
                            </div>
                        </a>
                        <br>
                    </div>                
                {% endfor %}
            </div>
        </div>  
    </div>  
{% endblock%}